

<div class="pages">
  <!-- Page, data-page contains page name-->

    <!-- Scrollable page content-->
    <div class="page-content login-screen-content">
      <div class="login-screen-title">Login</div>
      <form>
        <div class="list-block inputs-list">
          <ul>
            <li class="item-content">
              <div class="item-inner"> 
                <div class="item-title label"> Usuário </div>
                <div class="item-input">
                  <input type="text" name="username" placeholder="Your username"/>
                </div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner"> 
                <div class="item-title label"> Senha </div>
                <div class="item-input">
                  <input type="password" name="password" placeholder="Your password"/>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="content-block"><a href="#/media-lists" class="button button-big"> Fazer Login </a></div>
        <div class="content-block">
          <div class="list-block-label">Some text about login information.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
      </form>
    </div>

</div>
 